

header{
height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: rem;
  align-items: center;
  background-color: #131324;
  background-image: url(./chat.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;


}
.brand {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}
    .brand h1 {
    color: white;
    text-transform: uppercase;
  }
img {
  height: 5rem;
}
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* background-color: #08113076; */
    border-radius: 20rem;
    padding: 10rem 10rem;
  }
  input {
    background-color: rgb(50, 75, 79);
    padding: 1rem;
    border: 0.1rem solid #4e0eff;
    border-radius: 0.4rem;
    color: white;
    width: 100%;
    font-size: 1rem;
}
input:focus {
  border: 0.2rem solid #997af0;
  outline: none;
}
  button {
    background-color: #4e0eff;
    color: white;
    padding: 1rem 2rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.4rem;
    font-size: 1rem;
    text-transform: uppercase;
}
button:hover {
  background-color: #2da091;
}
  span {
    color: white;
    text-transform: uppercase;
}
a {
  color: #340ea5;
  text-decoration: none;
  font-weight: bold;
}
a:hover{
    color: #1ca573;
}